@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
body {
	font: 'Consolasch', sans-serif;
    /* color: rgba(255,255,255,0.6); */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, red , yellow); /* Standard syntax */
    /* overflow: hidden; */
}

h3, h2 {
	font: 1.5vw; 
    /* color: rgba(255,255,255,1); */
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}
h1 {
    font-family: 'Mr Dafoe';
    margin: 0;
    font-size: 2.5cw;
    margin-top: -0.6em;
    margin-bottom: 0.6em;
    /* color: rgb(178, 11, 187); */
    text-shadow: 0 0 0.05em rgb(255, 0, 0), 0 0 0.2em rgb(136, 0, 255), 0 0 0.3em rgb(33, 97, 194);
}
input {
    width: 48px;
    margin: 5px;
    height: 48px;
}

hr {
    width: 100%;
    
}
.randombutton {
    font-size: 1rem;
    padding: 1rem 0;
    width:12rem;
    text-align: center;
    border-radius: 1rem;
    margin-bottom: 1rem;
    border: #FFFFFF solid 1px;
    color: white;
    background-color: #ED174F;
}

.randombutton:hover {

    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(237, 23, 79, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.brandtext {
    font-size:15px;
}


